.App {
  text-align: center;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.carousel-images {
  width: 20%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

img {
  max-width: 100%;
  border-radius: 5px;
}