main {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 10rem;
    gap: 10rem;
}

.flex-container {
    border: 2px solid black;
    width: 50%;
    margin: auto;
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    align-content: center;
}

.flex-item-1 {
    border: 2px solid red;
    width: 10%;
    padding: 10%;
}

.flex-container-2 {
    border: 2px solid black;
    width: 50%;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-item-2 {
    border: 2px solid pink;
    width: 10%;
    padding: 10%;
    flex: auto;
}

.item-2 {
    align-self: stretch;
}