:root {
  --clr-primary: #0469dc;
  --clr-secondary: #5858da;
  --clr-neutral-light: #f5f7fa;
  --clr-neutral-medium: #737b8c;
  --clr-neutral-medium-dark: #434956;
  --clr-neutral-dark: #020203;

  --fm-primary: "Poppins", sans-serif;
  --fm-secondary: "IBM Plex Serif", serif;

  --flow-space: 1rem;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h1[class],
h2,
h2[class],
h3,
h3[class],
p,
p[class],
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img:not(.logo) {
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 4, 0.25);
}

/* General Layout */

body {
  line-height: 1.6;
  font-family: var(--fm-primary);
}

section {
  padding: 0 2rem;
}

@media (min-width: 40em) {
  section {
    padding: 0 3rem;
  }
}

.hero {
  max-width: max-content;
  margin: 0 auto;
  padding: 0;
}

/* Utility Classes */

.flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Links Styles */

.nav-link:hover,
.nav-link:active {
  opacity: 0.6;
}

/* Button Styles */

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0.25rem 0.75rem;
  border-radius: 1.375rem;
  font-weight: 500;
}

.primary {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-light);
}

.primary:hover,
.primary:active {
  opacity: 0.6;
}

.secondary {
  background-color: var(--clr-neutral-dark);
  color: var(--clr-neutral-light);
}

.secondary:hover,
.secondary:active {
  background-color: var(--clr-primary);
}

.small {
  font-size: 0.813rem;
}

.large {
  font-size: 1.25rem;
}

/* Typography */

.main-title {
  font-size: 5rem;
}

p:not(.courses) {
  font-size: 1.063;
}

.contacts {
  font-size: 1rem;
}

.courses-nav > * {
  font-size: 0.813rem;
}

.start-learning h2 {
  font-size: 2.125rem;
}

.become-instructor h2 {
  font-size: 3.375rem;
}

.weight-300 {
  font-weight: 300;
}

.weight-600 {
  font-weight: 600;
}

.text-blue {
  color: var(--clr-primary);
}

.text-dark {
  color: var(--clr-neutral-dark);
}

.text-dark-medium {
  color: var(--clr-neutral-medium-dark);
}

/* Section Spaces */

.vertical-space-s {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.vertical-space-m {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.vertical-space-l {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.horizontal-space-medium {
  padding-left: 3rem;
  padding-right: 3rem;
}

.horizontal-space-large {
  padding-left: 7rem;
  padding-right: 7rem;
}

.gap-s {
  gap: 1rem;
}

.gap-m {
  gap: 2rem;
}

.gap-l {
  gap: 6rem;
}

.gap-xl {
  gap: 12rem;
}

/* Colors */

.bg-light {
  background-color: var(--clr-neutral-light);
}

.bg-blue {
  background-color: var(--clr-primary);
}

.bg-violet {
  background-color: var(--clr-secondary);
}

/* Header Styling */

.search-bar input {
  min-width: 25em;
}

.search-bar > * {
  border: none;
  padding: 0.25rem 1rem;
}

.search-bar input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-bar button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-image: url("assets/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: var(--clr-neutral-light);
}

/* Navigation Section Styling */

.courses-nav ul li:hover {
  border-bottom: var(--clr-neutral-dark) 3px solid;
}

/* Courses Section Styling */

.card {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  padding: 1.75rem;
  border-radius: 1.25rem;
}

.card header {
  justify-content: space-between;
  align-content: center;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(5),
.card:nth-child(6) {
  align-items: center;
}

.card:nth-child(4) {
  align-items: end;
}

.card:nth-child(1) main,
.card:nth-child(2) main,
.card:nth-child(3) main,
.card:nth-child(5) main,
.card:nth-child(6) main {
  grid-row: 3 / 4;
}

.card:nth-child(4) main {
  grid-row: 2 / 3;
}

.card:nth-child(1) footer,
.card:nth-child(2) footer,
.card:nth-child(3) footer,
.card:nth-child(4) footer,
.card:nth-child(5) footer,
.card:nth-child(6) footer {
  grid-row: 4 / 5;
}

.course-level {
  color: var(--clr-neutral-light);
  border-radius: 1.25rem;
  padding: 0.25rem 1rem;
  font-weight: 400;
  font-size: 0.75rem;
}

.course-rating {
  align-items: center;
}

.course-title {
  font-size: 2.125rem;
  font-weight: 700;
}

.course-author {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--clr-neutral-medium);
}

.course-description {
  font-size: 1rem;
  font-weight: 300;
  color: var(--clr-neutral-medium);
}

.card footer {
  padding-top: 2rem;
}

.course-price {
  font-size: 1.25rem;
}

.price-promotion {
  font-size: 0.75rem;
}

.price-promotion span {
  text-decoration: line-through;
}

/* Start Learning Section Styling */

.start-learning {
  justify-content: center;
}

.start-learning div:first-child {
  width: 30%;
}

.start-learning div:nth-child(2) {
  width: 20%;
}

.start-learning .more-info {
  justify-content: flex-start;
  align-items: center;
}

/* Become Instructor Section Styling */

.become-instructor {
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.become-instructor div:first-child > * {
  width: 100%;
}

.become-instructor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.become-instructor > div:nth-child(2) {
  padding: 8em;
}

.primary-footer::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--clr-neutral-light);
}

/* Footer Styling */

.primary-footer .copywrite {
  justify-content: flex-start;
}
