:root {
  --clr-primary: #0469dc;
  --clr-secondary: #5858da;
  --clr-neutral-light: #f5f7fa;
  --clr-neutral-medium: #737b8c;
  --clr-neutral-medium-dark: #434956;
  --clr-neutral-dark: #020203;

  --fm-primary: "Poppins", sans-serif;
  --fm-secondary: "IBM Plex Serif", serif;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.6;
  font-family: var(--fm-primary);
  padding: 2rem 3rem;
}
