:root {
  --clr-primary: #f3eed9;
  --clr-secondary: #824936;
  --clr-tertiary: #222c2a;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Playfair Display", serif;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.3125rem;
}

/* Utility Classes */

.flex {
  display: flex;
  gap: 4em;
}

.container {
  padding: 3em;
  max-width: 1100px;
  margin: 0 auto;
}

.bg-beige {
  background-color: var(--clr-primary);
}

.bg-dark {
  background-color: var(--clr-tertiary);
}

.bg-brown {
  background-color: var(--clr-secondary);
}

.text-brown {
  color: var(--clr-secondary);
}

.text-beige {
  color: var(--clr-primary);
}

.text-white {
  color: white;
}

.title {
  font-family: var(--ff-secondary);
  font-size: 35px;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 18px;
  font-family: var(--ff-primary);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
/* Sections Styling */

.hero {
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 3rem;
  padding: 3em;
}

.hero > * {
  width: 70%;
  margin: 0 auto;
}

.intro .title {
  text-align: center;
}

.image {
  width: 100%;
}

.col {
  width: 100%;
}
