:root {
  --ff-heading: "Oswald", sans-serif;
  --ff-text: "Montserrat", sans-serif;

  --clr-gunmetal: #2e323f;
  --clr-bright-grey: #3b4050;
  --clr-pale-sky: #6f737f;
  --clr-white: #ffffff;
  --clr-donkey-brown: #a59678;
  --clr-light: rgba(238, 236, 236, 0.988);
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
h4,
p,
a,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

ul[class],
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

/* Layout */

.container {
  padding: 3rem;
}

.flex {
  display: flex;
}

@media (min-width: 700px) {
  .container {
    padding: 6rem;
  }
}

/* Typography */

.title {
  font-family: var(--ff-heading);
}

.text {
  font-family: var(--ff-text);
}

/* Colors */

.text-white {
  color: var(--clr-white);
}

.text-brown {
  color: var(--clr-donkey-brown);
}

.bg-gunmetal {
  background-color: var(--clr-gunmetal);
}

.bg-grey {
  background-color: var(--clr-bright-grey);
}

.bg-light {
  background-color: rgba(238, 236, 236, 0.988);
}

/* Header Section Styling */

header {
  padding: 0.75rem 3rem 0.75rem 3rem;
  justify-content: space-between;
}

nav {
  gap: 1.5rem;
}

.nav__list {
  align-items: center;
  gap: 0.3rem;
}

.nav__item {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.logo {
  max-width: 10%;
}

.nav__link {
  background-color: var(--clr-donkey-brown);
  padding: 0.2em 0.5em;
  border-radius: 2em;
}

@media (min-width: 700px) {
  header {
    padding: 2rem 6rem 2rem 6rem;
  }

  nav {
    gap: 4rem;
  }

  .nav__list {
    gap: 2.5rem;
  }

  .nav__item {
    font-size: 1.125rem;
  }

  .logo {
    max-width: 100%;
  }
}

/* Intro Section Styling */

.intro-section .title {
  font-size: 2.5rem;
}

.intro-section .text {
  margin-top: 2em;
}

.intro-section .btn {
  margin-top: 1em;
  text-transform: uppercase;
  font-family: var(--ff-heading);
  background-color: var(--clr-donkey-brown);
  border-radius: 1em;
  border: 0;
  padding: 0.5em 1em;
}

@media (min-width: 700px) {
  .intro-section .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .intro-section .title {
    font-size: 4.375rem;
    flex-basis: 50%;
  }

  .intro-section .content {
    flex-basis: 40%;
  }

  .intro-section .text {
    margin: 0;
  }

  .intro-section .text,
  .intro-section .btn {
    font-size: 1.5rem;
  }
}

/* Medium Section Styling */

.medium-section .content:not(:last-child) {
  margin-bottom: 2.5em;
}

.medium-section .title {
  font-size: 1.5rem;
}

.medium-section .text {
  margin-top: 1em;
}

@media (min-width: 700px) {
  .medium-section .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .medium-section .content {
    flex-basis: 30%;
  }

  .medium-section .title {
    font-size: 1.875rem;
  }

  .medium-section .text {
    font-size: 1.313rem;
  }
}
