:root {
  --ff-heading: "Oswald", sans-serif;
  --ff-text: "Montserrat", sans-serif;

  --clr-gunmetal: #2e323f;
  --clr-bright-grey: #3b4050;
  --clr-pale-sky: #6f737f;
  --clr-white: #ffffff;
  --clr-donkey-brown: #a59678;
}
