.shopping-list {
    margin: auto;
    width: 300px;
}

.shopping-items {
    list-style-type: none;
    padding: 10px;
    text-align: start;
}

.shopping-items label {
    padding-left: 10px;
}

.item-checkbox {
    width: 15px;
    height: 15px;
}

.item-checkbox:checked + .item-name {
    text-decoration: black 2px line-through;
}

.removal-btn {
    float: right;
    margin: auto;
    text-align: center;
}