.search-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin: auto;
    display: flex;
    justify-content: center;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid gray;
    width: 230px;
}

.dropdown-container:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.shopping-list {
    padding: 25px;
    display: flex;
    margin: auto;
}

.shopping-items {
    list-style-type: none;
    padding: 10px;
    text-align: start;
}

.shopping-items label {
    padding-left: 10px;
}
