.shopping-list {
    padding: 25px;
    display: flex;
    margin: auto;
}

.shopping-items {
    list-style-type: none;
    padding: 10px;
    text-align: start;
}

.shopping-items label {
    padding-left: 10px;
}

.item-checkbox:checked + .item-name {
    text-decoration: black 2px line-through;
}
